$my-blue :#bed2dd;
$my-green1:#63815c;
$my-green2:#bfcf86;
$my-yellow1:#f7f0c6;
$my-yellow2:#f2e08b;
$my-lightgrey:#f7f7f7;
$instagram-grey:#231F20;
$my-white:#fff;
$my-black:black;
$my-darkblue:#00509C;