
$my-lightgrey:#f7f7f7;
$instagram-grey:#231F20;
$my-white:#fff;


//-------------Color Palette

$my-black:#34393e;
$blue-gray:#47646a;
$light-blue-gray:#87adb6;
$yellow-green:#c0c56b;


//-------------Color Palette
$white:#F8F8F9;
$grey:#B5B6B4;
$grey2:#93A5A9;
$yellow:#F2B35B;
$grey3:#687A8B;

//bootstrap color
$bootstrap-green:#28a745;
$bootstrap-blue:#17a2b8;
$bootstrap-yellow:#ffc107;
$bootstrap-red:#dc3545;

$slider-rail-white:#e9ecef;