@import 'Colors';
html, body{
    min-height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   
}
body{height:100vh;}
#root{
    height:100%;
    widows: 100%;
}
.App{
    width: 100% ;
    height: 100% ;
    margin: 0px;
    position: relative; 
  
}

img{
    max-width: 100%;
    max-height: 100%;
}


.content{
    top:0;
    width: 100%;
    height: 100%;
    margin: 0px ;
}

.home-container{
    height: 100%;
    width: 100%;
}

.first{
    height: 100%;
    width: 100%;
    background-color:$my-white;
}

.second{ 
    height: 100%;
    width: 100%;
    overflow: wrap;
    background-color:$my-lightgrey;
    color:$my-black;
}

.third{
    width: 100%;
    height: auto;
    overflow:wrap;
    background-color:$my-white;
    color:$my-black;
}

.fourth{
    height: 100%;
    width: 100%;
    background-color:$my-lightgrey;
    color:$my-black;
}

.homepage-intro{
    height: 100%;
    width: 100%;
    position: relative;
}

.homepage-intro-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $my-white;
}

.homepage-intro-content p{
   font-size:10vh;
   display:inline;
}

.homepage-intro-bg{
    height: 100%;
    width: 100%;
    z-index: -1;
}
.homepage-intro-bg {
    background-image: url('../resources/pic/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.scroll-control{
    position: fixed;
    bottom: 8%;
    right:8%; 
    justify-content: center;
}
.scroll-control button{
   display: block;
   width: 40px;
   height: 40px;
   background-color:white;
   border: 0px;
   &:hover{
       background-color: $my-lightgrey;
   }
   &:focus {
    outline: 0;
   }
}

.homepage-aboutme{
    top:5vh;
    position: relative;
    width: 100%;
}

.homepage-aboutme-title{
    font-size: 10vh;
    height: 20%;
    text-align: center;
    position: relative;
}

.homepage-aboutme-title hr{
    margin: 0px;
}

.homepage-aboutme-content{
    position: relative;
    width: 100%;
    text-align: center;
    align-content: center;
    overflow: wrap;
}
.homepage-aboutme-content-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 2%;
    padding: 0;
}
.homepage-aboutme-content-li{
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border: 10px;
    margin: 20px 20px 20px 20px;
    list-style-type:none;
}
.homepage-project{
    top:3vh;
    position: relative;
    width: 100%;
}
.homepage-project-title{
    font-size: 10vh;
    height: 20vh;
    text-align: center;
    position: relative;
}
.homepage-project-title hr{
    margin: 0px;
}
.homepage-project-title-subdesc{
    font-size: 16px;
}
.homepage-project-content-ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.homepage-project-content-li{
    justify-content: center;
    align-items: center;
    margin: 10px;
    list-style-type:none;
}
.project-item-container{
    margin: 10px;
    position: relative;
    height: 30vmax;
    width: 70vmax;
    justify-content: center;
    align-items:center
}

.project-content-photo{
    top:20%;
    height: 50%;
    width: 25%;
    position: relative;
    float: left;
}
.project-content-photo img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.project-content-desc{
    top:20%;
    margin-left:31%;
    width: 59%;
    height:99%;
    text-align: start;
    position: relative;
}

.project-content-desc h6{
    text-decoration: underline;
}

.homepage-contact{
    top:5vh;
    position: relative;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.homepage-contact-title{  
    height: 20%;
    text-align: center;
    position: relative;
}
.homepage-contact-title-desc{
    font-size: 10vh;
}

.homepage-contact-title hr{
    margin: 0px;
}

.homepage-contact-content{
    display: flex;
    justify-content: space-between;
    top:30%;
    left: 20%;
    height:60%;
    width: 60%;
    position: relative;
}



////////don't forget to implement mobile mode/////////////////////////
@media (max-width:960px){

    .second{
        height: auto;
        overflow: wrap;
    }
    .third{
        height: auto;
        overflow: wrap;
    }
    .scroll-control{
        display: none;
    }
    .homepage-aboutme{
        top:0;
    }
    .homepage-project{
        top: 0;
    }
    .homepage-project-content-ol{
        position: relative;
        top:20px;
    }
    .project-item-container{
        margin:0;
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
  
.project-content-photo{
    position: relative;
    top: 0px;
    height: 60%;
    width: 50%;
}
.project-content-photo img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
   
}
.project-content-desc{
    position: relative;
    top:0;
    margin: 2px;
    width: 100%;
    text-align: start;
}
.project-content-desc h4,h6{
   text-align: center;
}

.homepage-contact-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top:20%;
    left:40%;
    height:60%;
    width: 60%;
    position: relative;
}

}