@import 'Colors';
.nav-normal{
    position: fixed;
    right:8%;
    top: 5%;
}
.nav-link-normal{

    cursor:  pointer !important;
    color: #4D4D4D ;
}
.nav-mobile{
    position: fixed;
    right:8%;
    top: 5%;

}
