@import 'Colors';
.nav-normal{
    position: absolute;
    right:8%;
    top: 5%;
}
.nav-link-normal{

    cursor:  pointer !important;
    color: black ;
}
.nav-mobile{
    position: absolute;
    right:8%;
    top: 5%;
}
