@import 'Colors';
.nav{
    position: fixed;
    width:100%;
    top: 0;
    z-index: 1;
    background-color: $instagram-grey;
}

.nav-mobile{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $instagram-grey;
    justify-content: center;
} 
.nav-link-normal{

    cursor:  pointer !important;
    color:$my-white ;
    z-index: 1;
}
