@import 'Colors';
.project-container{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

.project-title{
    font-size: 8vh;
    position: relative;
    top:15%;
    left:10%;
    width: 90%;
    text-align: start;
    color:$my-black;
}

.project-adjustment{
     position: relative;
     top:15%;
}

@media (max-width:960px){

    .project-title{
        font-size: 8vh;
        position: relative;
        top:15%;    
        width: 100%;
        left: 0;
        text-align: center;
        color:$my-black;
    }

}